:root {
  --gradient: linear-gradient(
    45deg,
    #a4a1e5,
    #eadb87,
    #f9b5a4,
    #8de799,
    #8e8fe7,
    #a1daee
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
